.calc{
    width: 350px;
    height: 500px;
    background-color: grey;
    margin-left: 340px;
    margin-top: 20px;
}
#screen{
    width: 80%;
    margin-left: 30px;
    height: 46px;
    margin-top: 30px;
    pointer-events: none;

}
.btn{
    width: 52px;
    height: 45px;
    margin-left: 25px;
    margin-top: 25px;
    background: bisque;

}

